<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">

<head>
	<meta charset="utf-8">
	<title>Version 2</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="app.css">
	<script type="text/javascript" src="bower_components/angular/angular.js">
	</script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="PhoneListController">

<ul>
	<li ng-repeat="phone in phones">
		<span>{{phone.name}} </span>
		<p>
			{{phone.snippet}}
		</p>
	</li>

	<p>Total number of phones: {{phones.length}} </p>
	<p>Hello {{name}} </p>

	<table>
	  <tr><th>Row number</th></tr>
	  <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
	</table>

	<table>
	  <tr><th><span>Grid1</span></th><th><span>Grid2</span></th><th><span>Grid3</span></th><th><span>Grid3</span></th></tr>
	  <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td ng-repeat="i in [0,1,2,3]">{{i+1}}</td></tr>
	</table>
</ul>

</body>
</html>